*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
nav,footer,header,aside{display: block;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------------------------------- */
.fa-phone-flip {
	margin-right: 10px;
}
/* --------------------------------------------------------------------------------------- */

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	background-color: rgb(36, 36, 36);
}

.container {
	width: 100%;
	max-width: 1410px; /*70px = 35px + 35px добавленных для адаптации*/
	padding: 0 35px; /*что бы при адаптации плотно не прилегал контент в блоках*/
	margin: 0 auto;
}

.page {
    overflow: hidden;
}

/* --------------------------------------------------------------------------------------- */

/* --- header --- */

.header {
	width: 100%;

	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logotype:after {
	
}


.header__phone {
	margin-left: 20px;
	color: #fff;

	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: none;
}

.header__phone:hover {
	color: #d4be70;
}

.header.fixed { /*для фиксации хедера */
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transform: translate3d(0, 0, 0); /*что бы менюшка не дёргалась при скроле*/
	
	background-color: #808080;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.header.active {
	background-color: #d0f88a;
}

/* --- intro --- */

.intro {
	padding-top: 150px;
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../image/header/1.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__text {
	width: 100%;
	max-width: 780px;
}

.intro__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	color: #fff;
}

.intro__title b {
	color: #EAFF00
}

.intro__suptext {
	padding-top: 70px;
	width: 650px;
	position: relative;
	left: -3%;
	top: 45%;
}

.intro__titlep {
	margin: 0 0 0 100px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;

	color: #fff;
}

.intro__suptitle {
	margin: 52px 0 0 100px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #FFFFFF;
}

.intro__p {
	margin: 14px 117px 0 100px;
	font-family: 'Futura New';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #F4E9BF;
}

.intro__titlep:after {
	content: "";
	width: 60px;
	position: absolute;
	left: 2%;
	top: 33%;

	border: 1px solid #BDBDBD;
}

.intro__suptitle:after {
	content: "";
	width: 60px;
	position: absolute;
	left: 2%;
	top: 74%;

	border: 1px solid #BDBDBD;
}

/* section */

.section {
    padding: 85px 0 105px;
}

/*nav*/

.nav {
	font-size: 17px;
}

.nav__link {
	margin: 0 40px;
	display: inline-block;
	vertical-align: top; /*что бы они шли в строку и можно было задать мэрджин*/
	position: relative;

	color:#fff;
	text-decoration: none;
	cursor: pointer;
	transition: color .2s linear;
}

.nav__link:hover {
	color: #d4be70;
	border-bottom: none;
}

/*----- nav toggle ----- */

.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0; /*скрываем надпись menu*/
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	right: 24px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 1;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;	
	
	position: absolute; /*позиционируем данный элемент по центру*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear; /*транзижн для бэкраунда*/
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0, -2px, 0);	
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0, 3px, 0);	
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

/*btn*/

.button {
	padding-top: 80px;
}

.btn {
	display: inline-block;
	padding: 23px 48px;

	border-radius: 10px;

	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	background: #EAFF00;
	text-decoration: none;

	transition: background .1s linear, color .1s linear;
}

.btn:hover {
	box-shadow: 1px 4px #565d02;
	background-color: #EAFF00;
	color: #333;
	transition: 0.3s linear;
}

.btn__logo {
	margin-left: 65px;
	vertical-align: middle;
}

.btn__proiz {
	margin-left: 29px;
	vertical-align: middle;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	
	text-decoration-line: underline;
	color: #F4E9BF;
}

.slayder {
	max-width: 100%;
	position: relative;
	margin: auto;
	margin-bottom: 15px;
	color: #fff;
	animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  		text-shadow:
			0 0 4px #fff,
			0 0 11px #fff,
			0 0 19px #fff,
			0 0 40px #0fa,
			0 0 80px #0fa,
			0 0 90px #0fa,
			0 0 100px #0fa,
			0 0 150px #0fa;
	}
	20%, 24%, 55% {        
		text-shadow: none;
	}    
}

.slayder .slayder__content img {
	object-fit: cover;
	width: 100%;
	border: none !important;
	box-shadow: none !important;
}
  
.slayder .prev, .slayder .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.slayder .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
.slayder .prev:hover,
.slayder .next:hover {
	background-color: rgba(25, 24, 24, 0.8);
}
  
.slayder__click {
	text-align: center;
}

.slayder__click-span{
	cursor: pointer;
	height: 16px;
	width: 16px;
	margin: 0 8px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slayder__click-span:hover {
	background-color: rgb(111, 58, 58);
}

.slayder .slayder__content {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
