*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
nav,footer,header,aside{display: block;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------------------------------- */

.fa-phone-flip {
	margin-right: 10px;
}

.fa {
	padding-left: 10px;
}

.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.5;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
	z-index: 1;
}
  
  /* Всплывающий чат - скрыт по умолчанию */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #373636;
	z-index: 2;
}

  /* Добавление стилей в контейнер формы */
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}
  
  /* Полноразмерная текстовая область */
.form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 200px;
}
  
  /* Когда текстовая область получит фокус, сделайте что-нибудь */
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}
  
  /* Установите стиль для кнопки отправить/кнопка */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}
  
  /* Добавьте красный цвет фона к кнопке отмена */
.form-container .cancel {
	background-color: red;
}
  
  /* Добавьте некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	background-color: rgb(36, 36, 36);
}

.container {
	width: 100%;
	max-width: 1410px; /*70px = 35px + 35px добавленных для адаптации*/
	padding: 0 35px; /*что бы при адаптации плотно не прилегал контент в блоках*/
	margin: 0 auto;
}

.page {
    overflow: hidden;
}

/* --------------------------------------------------------------------------------------- */

/* --- header --- */

.header {
	width: 100%;

	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 60px;
	height: 40px;
	cursor: pointer;
}

.header__phone {
	margin-left: 20px;
	color: #fff;

	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: none;
}

.header__phone:hover {
	color: #d4be70;
}

.header.fixed { /*для фиксации хедера */
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transform: translate3d(0, 0, 0); /*что бы менюшка не дёргалась при скроле*/
	
	background-color: #808080;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.header.active {
	background-color: #d0f88a;
}

/* --- accordion --- */
.accordion__info {
	position: relative;
	display: inline-block;
}

.accordion__info-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(239, 239, 239, 0.2);
	z-index: 1000;
}

.accordion__info-content a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.accordion__info-content a:hover {
	background-color: rgb(164, 164, 164)
}

.show {
	display:block;
	margin-top: 10px;
}

/*nav*/

.nav {
	font-size: 17px;
	display: flex;
	gap: 32px;
}

.nav__link {
	display: inline-block;
	vertical-align: top; /*что бы они шли в строку и можно было задать мэрджин*/
	position: relative;

	color:#fff;
	text-decoration: none;
	cursor: pointer;
	transition: color .2s linear;
}

.nav__link:hover {
	color: #d4be70;
	border-bottom: none;
}

/*----- nav toggle ----- */

.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0; /*скрываем надпись menu*/
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	right: 24px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 1;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;	
	
	position: absolute; /*позиционируем данный элемент по центру*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear; /*транзижн для бэкраунда*/
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0, -2px, 0);	
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0, 3px, 0);	
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

/* section */

.section {
    padding: 85px 0 85px;
}

.section__header {
	margin: 30px auto 100px;
    width: 100%;
    max-width: 950px;
    text-align: center;
}

.section__title {
	font-family: Motserrat, sans-serif;
    font-weight: bold;
    font-size: 50px;

	color: #fff;
}

.section__glav {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #828282;
} 

.section__glav a {
	margin-right: 10px;
	text-decoration: none;
	color: #fff;
}

.section__glav a:hover {
	text-decoration: underline;
}

.section__suptitle {
	margin-top: 8px;
	position: relative;

	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;

	color: #fa8108;
}

.section__suptitle:before {
	position: absolute;
    top: 50%;
    left: -87px;
    content: '';
    width: 70px;
    height: 3px;
    background-color: #eddc44;
}

.section--kont {
	padding: 200px 0 150px;
}

.section__flex {
    max-width: 950px;
    margin: 0 auto 3rem;
}

.section__flexhead {
    text-align: center;
    margin-bottom: 55px;
    color: #fff;
    font-size: 20px;
}

.section__flexfooter {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.section__flexfooter h2{
    color: #fff;
    font-size: 20px;
}

.section__weight {
    font-weight: 300;
    margin-top: 10px;
    line-height: 30px;
    color: #a8a8a8
}

.section__weight a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #a8a8a8;
}

.section__weight a:hover {
    border-bottom: none;
    color: #c7c5c5;
}

.section__flextext {
    flex: 1 1 0;
    border-right: 1px solid #ff3e54;
}

.section__flextext:last-child {
    border-right: none;
}

/* trenery */

.trenery {
    color: #fff;
}

.trenery a {
    position: relative;
    padding: 15px 5px 15px 50px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: underline;
    color: #fb9700c5;
}

.trenery a:hover {
    color: #fb9700;
    text-decoration: none;
}

.trenery a::before {
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../image/header/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.trenery__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin: 45px 0;
}

.trenery__image {
    display: flex;
    flex-direction: column;
}

.trenery__image img{
    width: 700px;
    height: auto; 
}

.trenery__text h2{
    font-size: 48px;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 25px;
}

.trenery__text-header {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 300;
}

.trenery__text-footer {
    margin-bottom: 90;
    font-size: 20px;
}

.trenery__text-footer p, .trenery__text-footer ol, .trenery__text-footer ul {
    margin-bottom: 15px;
}

.trenery__text-footer ul:not(.ul-style) {
    margin-left: 20px;
}

.trenery__text-footer ul:not(.ul-style) li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

/* abonem */

.abonem {
    padding: 100px 0;
	background-color: #323131;
    text-align: center;
    color: #fff;
}

.abonem__title-up {
    margin-bottom: 15px;
    font-size: 20px;
}

.abonem__title-center {
    margin-bottom: 15px;
    font-size: 20px;
}

.abonem__title-down a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: underline;
    color: #fb9700c5;
}

.abonem__title-down a:hover {
    color: #fb9700;
    text-decoration: none;
}

/* map */

.map {
	display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.map__img img {
   	width: 100%;
   	height: 100%;
    position: absolute;
    right: 0;
}

.map__img {
	width: 100%;
    height: 100%;
}


/*footer*/
.footer {
	position: relative;
	padding: 85px 0;
}

.footer__logo {
	width: 140px;
	height: 100px;
}

.footer__inner {
	display: flex;
	padding: 90px 0 10px 0;
}

.footer__left {
	flex: 0 0 auto;
    width: 25%;
}

.footer__right {
	flex: 0 0 auto;
    width: 75%;
}

.footer__header {
    padding-bottom: 69px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__leftcol {
	width: 22%;
	z-index: 1000;
}

.footer__supcol {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;

	color: #333333;
}


.footer__col {
	margin-top: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 36px;
}

.footer__col a {
	text-decoration: none;
	border-bottom: 1px solid;

	color: #ffe481;
}

.footer__supcol a{
	text-decoration: none;
	border-bottom: 1px solid;

	color: #da5c3e;
}

.footer__col a:hover {
	border-bottom: none;
}

.footer__supcol a:hover{
	border-bottom: none;
}

.footer__footcol a:hover {
	border-bottom: none;
}

.footer__footcol {
	margin-top: 43px;

	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.footer__footcol a {
	text-decoration: none;
	border-bottom: 1px solid;

	color: #da5c3e;
}

.footer__centercol {
	width: 22%;
	z-index: 1000;
}

.footer__rightcol {
	width: 25%;
	z-index: 1000;
}

.footer__num {
	margin-top: 31px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
}

.footer__tel {
	text-decoration: none;

	color: #ffffff;
}

.footer__zakaz p {
	margin-top: 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #c52929;
}

.footer__what {
	margin-top: 45px;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.footer__what a{
	text-decoration: none;
	border-bottom: 1px solid;
	color: #da5c3e;
}

.footer__mail {
	margin-top: 8px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 36px;
}

.footer__mail a{
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__section {
	display: flex;
	gap: 42px;
	align-items: center;
	flex-wrap: wrap;
}
.footer__section div {
	z-index: 1000;
}

.footer__vk {
	display: flex;
	gap: 19px;
    align-items: center;
    font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.footer__vk a {
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__insta {
	display: flex;
	gap: 19px;
    align-items: center;
}

.footer__insta a {
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__vk:before {
	content: url(../image/footer/vk.png);
}

.footer__insta:before {
	content: url(../image/footer/inst.png);
}

.footer__footer {
	margin-top: 70px;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #ffffff;
}

.footer__footer a {
	color: #ffffff;
}