*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
nav,footer,header,aside{display: block;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------------------------------- */

.fa-phone-flip {
	margin-right: 10px;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	background-color: rgb(36, 36, 36);
}

.container {
	width: 100%;
	max-width: 1410px; /*70px = 35px + 35px добавленных для адаптации*/
	padding: 0 35px; /*что бы при адаптации плотно не прилегал контент в блоках*/
	margin: 0 auto;
}

.page {
    overflow: hidden;
}

/* --------------------------------------------------------------------------------------- */

/* --- header --- */

.header {
	width: 100%;

	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .header__logotype:after {
	
} */

.header__phone {
	margin-left: 20px;
	color: #fff;

	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: none;
}

.header__phone:hover {
	color: #d4be70;
}

.header.fixed { /*для фиксации хедера */
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transform: translate3d(0, 0, 0); /*что бы менюшка не дёргалась при скроле*/
	
	background-color: #808080;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.header.active {
	background-color: #d0f88a;
}

/*nav*/

.nav {
	font-size: 17px;
}

.nav__link {
	margin: 0 40px;
	display: inline-block;
	vertical-align: top; /*что бы они шли в строку и можно было задать мэрджин*/
	position: relative;

	color:#fff;
	text-decoration: none;
	cursor: pointer;
	transition: color .2s linear;
}

.nav__link:hover {
	color: #d4be70;
	border-bottom: none;
}

/*----- nav toggle ----- */

.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0; /*скрываем надпись menu*/
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	right: 24px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 1;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;	
	
	position: absolute; /*позиционируем данный элемент по центру*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear; /*транзижн для бэкраунда*/
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0, -2px, 0);	
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0, 3px, 0);	
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

/* section */

.section {
    padding: 85px 0 105px;
}

.section__glav {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #828282;
} 

.section__glav a {
	margin-right: 10px;
	text-decoration: none;
	color: #fff;
}

.section__glav a:hover {
	text-decoration: underline;
}

.section__suptitle {
	margin-top: 8px;
	position: relative;

	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;

	color: #fa8108;
}

.section__suptitle:before {
	position: absolute;
    top: 50%;
    left: -87px;
    content: '';
    width: 70px;
    height: 3px;
    background-color: #eddc44;
}

.section--onas {
	padding: 200px 0 105px;
}

.section--map {
	padding: 0;
	background: rgb(36, 36, 36);
}

/* map */

.map {
	display: flex;
    flex-wrap: wrap;
}
.map__img {
	width: 100%;
    height: 100%;
}

.map__img img {
   	width: 100%;
   	height: 100%;
    position: absolute;
    right: 0;
}

.map__text {
	overflow: hidden;
    color: #ffe481;
    position: relative;
    background: rgb(36, 36, 36);;
    padding: 0 10px 10px 41px;
    margin-bottom: 72px;
}

.map__text:before {
	left: -20%;
    z-index: 0;
    position: absolute;
    content: url(../image/map/loc.png);
	
}

.map__suptitle {
	max-width: 275px;
    margin-bottom: 34px;
    margin-top: 111px;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

.map__title {
	max-width: 400px;

	font-size: 16px;
    line-height: 22px;
    margin-bottom: 17px
}

.map__img {
	width: 50%;
	height: auto;
}

.map__foottitle {
	max-width: 400px;

	font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    color: #da5c3e;
}

/*footer*/
.footer {
	position: relative;
	padding: 85px 0;
}

.footer__inner {
	display: flex;
	padding: 90px 0 10px 0;
}

.footer__left {
	flex: 0 0 auto;
    width: 25%;
}

.footer__right {
	flex: 0 0 auto;
    width: 75%;
}

.footer__header {
    padding-bottom: 69px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__leftcol {
	width: 22%;
	z-index: 1000;
}

.footer__supcol {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;

	color: #333333;
}


.footer__col {
	margin-top: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 36px;
}

.footer__col a {
	text-decoration: none;
	border-bottom: 1px solid;

	color: #ffe481;
}

.footer__supcol a{
	text-decoration: none;
	border-bottom: 1px solid;

	color: #da5c3e;
}

.footer__col a:hover {
	border-bottom: none;
}

.footer__supcol a:hover{
	border-bottom: none;
}

.footer__footcol a:hover {
	border-bottom: none;
}

.footer__footcol {
	margin-top: 43px;

	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.footer__footcol a {
	text-decoration: none;
	border-bottom: 1px solid;

	color: #da5c3e;
}

.footer__centercol {
	width: 22%;
	z-index: 1000;
}

.footer__rightcol {
	width: 25%;
	z-index: 1000;
}

.footer__num {
	margin-top: 31px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
}

.footer__tel {
	text-decoration: none;

	color: #ffffff;
}

.footer__zakaz p {
	margin-top: 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #c52929;
}

.footer__what {
	margin-top: 45px;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.footer__what a{
	text-decoration: none;
	border-bottom: 1px solid;
	color: #da5c3e;
}

.footer__mail {
	margin-top: 8px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 36px;
}

.footer__mail a{
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__section {
	display: flex;
	gap: 42px;
	align-items: center;
}
.footer__section div {
	z-index: 1000;
}

.footer__vk {
	display: flex;
	gap: 19px;
    align-items: center;
    font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.footer__vk a {
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__insta {
	display: flex;
	gap: 19px;
    align-items: center;
}

.footer__insta a {
	text-decoration: none;
	border-bottom: 1px solid;
	color: #ffffff;
}

.footer__vk:before {
	content: url(../image/footer/vk.png);
}

.footer__insta:before {
	content: url(../image/footer/inst.png);
}

.footer__footer {
	margin-top: 70px;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #ffffff;
}

.footer__footer a {
	color: #ffffff;
}